name: Pull Request
on:
  pull_request:
    branches:
      - master

env:
  COMPONENT_NAME: openshift4-monitoring

jobs:
  linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command:
          - lint_jsonnet
          - lint_yaml
          - lint_adoc
    steps:
      - uses: actions/checkout@v3
      - name: Run ${{ matrix.command }}
        run: make ${{ matrix.command }}
  editorconfig:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: snow-actions/eclint@v1.0.1
        with:
          args: 'check'
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        instance:
          - capacity-alerts
          - release-4.9
          - release-4.10
          - release-4.11
          - remote-write
          - user-workload-monitoring
          - capacity-alerts-with-node-labels
          - vsphere
          - team-label
          - custom-rules
    defaults:
      run:
        working-directory: ${{ env.COMPONENT_NAME }}
    steps:
      - uses: actions/checkout@v3
        with:
          path: ${{ env.COMPONENT_NAME }}
      - name: Compile component
        run: make test -e instance=${{ matrix.instance }}
  golden:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        instance:
          - capacity-alerts
          - release-4.9
          - release-4.10
          - release-4.11
          - remote-write
          - user-workload-monitoring
          - capacity-alerts-with-node-labels
          - vsphere
          - team-label
          - custom-rules
    defaults:
      run:
        working-directory: ${{ env.COMPONENT_NAME }}
    steps:
      - uses: actions/checkout@v3
        with:
          path: ${{ env.COMPONENT_NAME }}
      - name: Golden diff
        run: make golden-diff -e instance=${{ matrix.instance }}
